#gif{
    /* display: none; */
    width: 35px;
}
#myVolumeBar {
    width: 55px;
}

.icons{
        position: relative;
        top: 11px;
    
}
#progress{
    display: flex;

}
.songdur{
    font-size: 14px;
}
#curdur{
    padding-right: 5px;
}
#totdur{
    padding-left: 5px;
}
#time {
    font-size: 21px;
}
.logo img {
    width: 35px;}
.logo{
    font-size: 1.1rem;
}
nav ul{
    height: 58px;
}
.bottom{
    height: 110px;
}

.card{
    width: 90vw;
}